<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581726238939-4qbu46ohni4o7454qqsqbmced0i7vo5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581726238939-4qbu46ohni4o7454qqsqbmced0i7vo5f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581726238939-2vvn1ku9cqgb6p0e7pnv2if2lfd07oeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGli_632fjSpavqSQk0ampBLwdbfVb7v8</string>
	<key>GCM_SENDER_ID</key>
	<string>581726238939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sboh.namu</string>
	<key>PROJECT_ID</key>
	<string>seoul-tree-corp</string>
	<key>STORAGE_BUCKET</key>
	<string>seoul-tree-corp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581726238939:ios:01a1de1ee8c82bdcff74fe</string>
</dict>
</plist>